:root {

    -yellow-base: #ffd900;
}

@font-face {
    font-family: logo;
    src: url(../Fonts/FN\ Hasan\ Matribhumi\ Unicode.ttf);
}

@font-face {
    font-family: bengali;
    src: url(../Fonts/L52\ Lipika\ Azhari\ Light.woff2);
}

@font-face {
    font-family: gilroy-bold;
    src: url(../Fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: gilroy-semibold;
    src: url(../Fonts/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: gilroy-mid;
    src: url(../Fonts/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: gilroy;
    src: url(../Fonts/Gilroy/Gilroy-Regular.woff2);
}

@font-face {
    font-family: gilroy-light;
    src: url(../Fonts/Gilroy/Gilroy-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy-mid;
    scroll-behavior: smooth;
}
*::selection{
    display: none;
}
html,
body {
    width: 100vw;
    height: 100dvh;
}

main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #fffbea;
    position: relative;
}
.loader{
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 60px;
    background: #f3fbff;
    top: 0;
    left: 0;
    padding: 12px 15px;
    font-family: logo;
    z-index: 101;
    display: flex;
    justify-content: center;
    animation: fadeout 2.5s;
    animation-fill-mode: forwards;
}
.loader span{
    position: relative;
    top: 40%;
    height: fit-content;
    font-family: logo;
}
@keyframes fadeout {
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.logo-nav {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 15px;
    background: #ffae00;
    overflow-y: hidden;
    height: calc(5vh + 24px);
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-written {
    font-family: 'logo';
    font-size: 30px;
    height: 5vh;
    color: #fff;
    /* font-weight: 600; */
}

.hamburger {
    font-size: 27px;
    height: 5vh;
    position: relative;
    z-index: 99;
    color: white;
    cursor: pointer;
}

.ri-xrp-line {
    color: black;
}

.nav-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff4b;
    backdrop-filter: blur(20px);
    transform: translateX(100vw);
    transition: all 0.4s ease;
    z-index: 98;
    overflow: hidden;
}

.slideIn-RtoL {
    transform: translateX(0px);
}

nav ul {
    width: 100%;
    height: fit-content;
    padding: 50px 40px;
}

nav ul li {
    list-style: none;
    margin-top: 25px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(24, 21, 12);
    font-size: 34px;
}

.sign-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.sign-btn button {
    font-size: 26px;
    background: #fff0cf36;
    width: 50%;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 200px;
    outline: 0;
    cursor: pointer;
}
/*................. SIGN IN PAGE .............*/
.signin-page{
    height: 100vh;
    width: 100vw;
    background: white;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    padding: 50px 40px;
    align-items: center;
    transform: translateX(100vw);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 100;
}
.slidein-Bottom-to-Top{
    transform: translateX(0px);
    opacity: 1;
}
.signin-page .ri-xrp-line{
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 27px;
    cursor: pointer;
}
.logo{
    height: 8vh;
    position: relative;
    top: -8vh;
}
.logo img{
    height: 100%;
    object-fit: contain;
}
.signin-page form{
    width: 100%;
    position: relative;
    top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-input{
    width: 100%;
    height: 8vh;
    padding-left: 12px;
    outline: 0;
    border: 0px;
    border: 2px solid rgb(31, 31, 31);
    font-size: 18px;
}
.sign-input:nth-child(1){
    border-radius: 5px 5px 0px 0px;
}
.sign-input:nth-child(2){
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
}
.signin-page form input::placeholder{
    font-size: 16px;
    color: #120f20;
}
.signin-page form button{
    width: 50%;
    height: 6vh;
    background: #120f20;
    color: white;
    border: 0px;
    border-radius: 200px;
    font-size: 20px;
    margin-top: 5vh;
    cursor: pointer;
}
/*................. HERO SECTION .............*/
#main-hero{
    /* background: #ffae00; */
    background-image: linear-gradient(#ffae00 60%, #fffbea);
    margin-top: calc(5vh + 24px);
    height: 92vh;
    align-items: flex-start;
    position: relative;
}
#main-hero img{
    position: absolute;
    object-fit: contain;
}
#maa-saraswati{
    height: 40vh;
    aspect-ratio: 1;
    margin-top: 100px;
    position: relative;
    z-index: 1;
}
#maa-saraswati img{
    height: 100%;
    width: 100%;
    animation: float-up-down 5s infinite alternate;
}
@keyframes float-up-down {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}
#puja{
    height: 15vh;
    bottom: 30%;
}
#alpana{
    height: 50vh;
    object-position: center;
    animation: rotate360 80s infinite linear;
}
@keyframes rotate360 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#ghot{
    height: 15vh;
    width: 100vw;
    position: absolute;
    bottom: 25%;
    opacity: 0.7;
    left: 0;
    display: flex;
    justify-content: space-between;
}
#ghot img{
    height: 100%;
    position: relative;
}
#scrl-dwn{
    position: absolute;
    bottom: 100px;
    text-align: center;
    color: #fff;

}
#scrl-dwn span{
    display: block;
    transform: rotate(90deg);
    margin-top: 5px;
}

/*............... ABOUT Section ................*/
.about-section{
    background: #fffbea;
    margin-top: 30px;
    padding: 30px 18px;
}
.swagatam{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.swagatam img{
    height: 80%;
}
.swagatam h2{
    text-align: center;
    font-size: 40px;
    font-family: bengali;
    font-weight: 500;
}
.about-section p{
    font-family: bengali;
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}
